
<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @company.contact_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Founded year:</strong>
  <%= @company.founded_year %>
</p>


<p>
  <strong>Agents</strong>
  <% @company.agents.each do |x| %>
    <li>
    <%= x.first_name %>
    </li>
  <% end %>
</p>

<p>
  <strong>Locks/strong>
  <% @company.locks.each do |x| %>
    <li>
    <%= x.number %>
    </li>
  <% end %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
